.alpha_listings {
    margin-bottom: 100px;
    height: auto;
    overflow: hidden;
    /* max-width: 80%; */
    margin: 0 auto;
    text-align: center;
}
#cdash_select_bus_category{
    margin-top:0px;
}

#cdash_bus_list_page{
    display:none;
}

#businesslist.list img.logo{
	max-width:100%;
	height:auto;
}